*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
index.js
index.js.map
app/**/*.js
app/**/*.map
typings/
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
